body {
	font-family: ו;font-size : 12px;color : #fff;
	margin : 0;padding : 0;
	background : #ddd;
}
td {font-family: ו;font-size : 12px;color : #fff;}
a {color : #fff;text-decoration : none;}
a:hover {color : #fff;text-decoration : underline;}
#table2 {width:100%; height:30px;background : #2F6C36;border-bottom : 1px solid #fff;}
.subTB{ width:100%; height:26px; background:url(../sub_bg.jpg); background-repeat:repeat-x;}

.topbar {color:#ffffff}
.topbar a:link,.topbar a:visited{color:#ffffff;}
.topbar a:hover{background:#ccffcc; display:block; height:26px; padding-top:6px; color:#000000; text-decoration:none}

#bottomMain {width:100%; height:30px;background : #3d9148;color : #fff;text-align : center;border-top: 1px #fff solid;}
#bottomMain a:link,#bottomMain a:visited{color:#ffffff;}

.topBorder {background:url(../admin_topbg2.jpg);background-repeat:repeat-x; }