<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<title>{{c_name}}--首页</title>

<link href="images/xin_main.css" rel="stylesheet" type="text/css">
<link href="images/xin_index.css" rel="stylesheet" type="text/css">
<meta name="keywords" content="{{c_key}}" />
<meta name="description" content="{{c_des}}" />
</head>
<body>
{{header}}
<table width="999" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="3" bgcolor="#000000"></td>
  </tr>
</table>
<table width="999" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="450"><table width="450" height="220" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="181"><div align="center">
            <iframe frameborder="0" scrolling="No" width="445" height="220" src="js_pic.asp"></iframe>
        </div></td>
      </tr>
    </table></td>
  </tr>
</table></td>
    <td height="220" valign="top" background="images/bj2.png"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="296"><table width="280" border="0" align="center" cellpadding="0" cellspacing="0">
          <tr>
            <td width="136"><img src="images/bg6.jpg" width="136" height="40" /></td>
            <td background="images/aa2.jpg">&nbsp;</td>
            <td width="28"><img src="images/aa3.jpg" width="28" height="40" /></td>
          </tr>
        </table>
          <table width="280" border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>
              <td height="170" valign="top" bgcolor="#333333"><div class="dnewslist"> {{newslist}} </div></td>
            </tr>
          </table></td>
        <td valign="top"><table width="240" border="0" align="center" cellpadding="0" cellspacing="0">
          <tr>
            <td width="136"><img src="images/bg7.jpg" width="136" height="40" /></td>
            <td background="images/aa2.jpg">&nbsp;</td>
            <td width="28"><img src="images/aa3.jpg" width="28" height="40" /></td>
          </tr>
        </table>
          <table width="240" border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>
              <td><div class="nav_dm2">
                  <div id="nav_dm23l"><a href="msnim:chat?contact=xinxincode@126.com"><img 
src="images/fwmsn.png" border="0" /></a>
                      <div style="HEIGHT: 10px"></div>
                    <a 
href="tencent://message/?uin=954904356&amp;Site=兴华社&amp;Menu=yes"><img 
src="images/fwqq.png" border="0" /></a></div>
                <div id="nav_dm23r">
                    <div>
                      <ul>
                        <li><img src="images/fw4.gif" /><span><a 
  href="service.asp">我要咨询 </a></span></li>
                        <li><img src="images/fw1.gif" /><span><a 
  href="service.asp">我要报修 </a></span></li>
                        <li><img src="images/fw2.gif" /><span><a 
  href="service.asp">我要投诉 </a></span></li>
                        <li><img src="images/fw3.gif" /><span><a 
  href="service.asp">我要表扬 </a></span></li>
                        <li><img src="images/fw5.gif" /><span><a 
  href="service.asp">网上招商 </a></span></li>
                      </ul>
                    </div>
                </div>
              </div>
                  </DIV></td>
            </tr>
          </table></td>
      </tr>
    </table></td>
  </tr>
</table>
<table width="999" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="9" bgcolor="#000000"></td>
  </tr>
</table>
<table width="999" height="220" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#000000">
  <tr>
    <td width="495" valign="top"><table width="495" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td width="136"><img src="images/bg5.jpg" width="136" height="40" /></td>
        <td background="images/aa2.jpg"><div align="right"><a href="product.asp">更多&gt;&gt;</a></div></td>
        <td width="28"><img src="images/aa3.jpg" width="28" height="40" /></td>
      </tr>
    </table>
        <table width="495" border="0" align="center" cellpadding="0" cellspacing="0">
          <tr>
            <td height="170" valign="top"  bgcolor="#333333"><div class="dplist2"> {{productlist}} </div></td>
          </tr>
    </table></td>
    <td valign="top"><table width="494" border="0" align="right" cellpadding="0" cellspacing="0">
      <tr>
        <td height="210" valign="top" background="#333333"><table width="495" border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>
              <td width="136"><img src="images/bg3.jpg" width="136" height="40" /></td>
              <td background="images/aa2.jpg"><div align="right"><a href="show.asp">更多&gt;&gt;</a></div></td>
              <td width="28"><img src="images/aa3.jpg" width="28" height="40" /></td>
            </tr>
          </table>
            <table width="495" border="0" align="center" cellpadding="0" cellspacing="0">
              <tr>
                <td height="170" valign="top" bgcolor="#333333"><div class="dplist"> {{showlist}} </div></td>
              </tr>
          </table></td>
      </tr>
    </table></td>
  </tr>
</table>
<table width="999" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="70" valign="top" background="images/link2.jpg"><table width="999" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="27">&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td width="155">&nbsp;</td>
        <td height="25"> <span class="flink">{{link}}</span></td>
        <td width="110">&nbsp;</td>
      </tr>
    </table></td>
  </tr>
</table>
{{footer}}
