<style type="text/css">
<!--
#Layer1 {
	position:absolute;
	width:235px;
	height:120px;
	z-index:1;
	top: 33px;
	overflow: visible;
}
-->
</style>
<table width="999" height="159" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td background="images/headerbj.jpg"><table width="1000" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="32">&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td width="230" height="100"><div align="center">
          <div id="Layer1">
            <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="229" height="109">
              <param name="movie" value="Images/xi.swf" />
              <param name="quality" value="high" />
              <param name="wmode" value="transparent" />
              <embed src="Images/xi.swf" width="229" height="109" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" wmode="transparent"></embed>
            </object>
          </div>
          <img src="images/LOGO.GIF" width="208" height="81" /></div></td>
        <td><table width="742" border="0" align="center" cellpadding="0" cellspacing="0">
          <tr>
            <td height="50"><div align="right"><img src="images/tel.png" width="260" height="45" /></div></td>
          </tr>
          <tr>
            <td height="42"><table width="736" border="0" align="center" cellpadding="0" cellspacing="0">
              <tr>
                <td><a href="default.asp"><img src="images/top0.jpg" width="92" height="40" border="0"  onmousemove="this.src='images/top00.jpg';" onmouseout="this.src='images/top0.jpg';"/></a></td>
                <td><a href="about.asp?id=17"><img src="Images/top1.jpg" width="92" height="40" border="0"  onmousemove="this.src='images/top01.jpg';" onmouseout="this.src='images/top1.jpg';"/></a></td>
                <td><a href="news.asp"><img src="Images/top2.jpg" width="92" height="40" border="0"  onmousemove="this.src='images/top02.jpg';" onmouseout="this.src='images/top2.jpg';"/></a></td>
                <td><a href="show.asp"><img src="Images/top3.jpg" width="92" height="40" border="0"  onmousemove="this.src='images/top03.jpg';" onmouseout="this.src='images/top3.jpg';"/></a></td>
                <td><a href="product.asp"><img src="Images/top4.jpg" width="92" height="40" border="0"  onmousemove="this.src='images/top04.jpg';" onmouseout="this.src='images/top4.jpg';"/></a></td>
                <td><a href="message.asp"><img src="Images/top5.jpg" width="92" height="40" border="0"  onmousemove="this.src='images/top05.jpg';" onmouseout="this.src='images/top5.jpg';"/></a></td>
                <td><a href="service.asp"><img src="Images/top6.jpg" width="92" height="40" border="0"  onmousemove="this.src='images/top06.jpg';" onmouseout="this.src='images/top6.jpg';"/></a></td>
                <td><a href="about.asp?id=21"><img src="Images/top7.jpg" width="92" height="40" border="0"  onmousemove="this.src='images/top07.jpg';" onmouseout="this.src='images/top7.jpg';"/></a></td>
              </tr>
            </table></td>
          </tr>
        </table></td>
      </tr>
      
    </table>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td height="9"></td>
        </tr>
      </table></td>
  </tr>
</table>