<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>{{c_name}}--{{pagename}}</title>

<link href="images/xin_main.css" rel="stylesheet" type="text/css" />
<meta name="keywords" content="{{c_key}}" />
<meta name="description" content="{{c_des}}" />
<SCRIPT src="images/jquery.js" type=text/javascript></SCRIPT>
<SCRIPT src="images/FunNav.js" type=text/javascript></SCRIPT>
</head>
<body>
{{header}}
<table width="999" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><img src="images/fbanner.jpg" width="998" height="90" /></td>
  </tr>
</table>
<table width="999" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#000000">
  <tr>
    <td height="10"></td>
  </tr>
</table>
<TABLE width="999" border=0 align="center" cellPadding=0 cellSpacing=0 id=nav_main>
  <TBODY>
  <TR>
    <TD width="211" valign="top" background="images/mainflbj.png"><table width="150" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td height="190" valign="top"><div class="newsmenu2">{{mainnav}}</div></td>
      </tr>
    </table>
      <table width="211" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td><img src="images/footfbj1-1.png" width="211" height="89" /></td>
        </tr>
        <tr>
          <td><img src="images/footfbj1-2.png" width="211" height="89" /></td>
        </tr>
        <tr>
          <td><img src="images/footfbj1-3.png" width="211" height="64" /></td>
        </tr>
        <tr>
          <td><img src="images/footfbj2.png" width="211" height="49" /></td>
        </tr>
        <tr>
          <td><img src="images/footfbj3.png" width="211" height="47" /></td>
        </tr>
      </table></TD>
    <TD width="618" height="500" valign="top" bgcolor="#333333"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="100"><div align="center"><img src="images/Tech.jpg" width="561" height="91" /></div></td>
      </tr>
    </table>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><div class="cutpic">{{pageinfo}}</div></td>
      </tr>
    </table></TD>
    <TD width="170" bgcolor="#000000" id=nav_mainr>
      <DIV id=navfuntop></DIV>
      <DIV id=navfun></DIV></TD></TR>
  <TR>
    <TD background="images/mainflbj.png">&nbsp; </TD>
    <TD bgcolor="#333333">&nbsp; </TD>
<TD bgcolor="#000000">&nbsp; </TD>
  </TR></TBODY></TABLE>

<table width="999" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#000000">
  <tr>
    <td><DIV id=footerf></DIV></td>
  </tr>
</table>
{{footer}}
</body>
</html>
